{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
    {% with 'events' as active %}
      {% include '_menu.html' %}
    {% endwith %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content Хлебные крошки -->
  <div class="content-wrapper" id='mainContainer'>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3> Наши мероприятия </h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'events_add' %}">Добавить мероприятие</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">

      <div class="container-fluid">

        

        <div class="row">
          
            <div class="col-12" id='mainContainer'>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th>Тренинг</th>
                        <th>Даты</th>
                        <th>Сезон</th>
                        <th>Где</th>
                        <th>Кто ведёт</th>
                        <th>Сколько по плану людей</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                            <td>"{{event.event.name}}" ({{ event.event.event_type }}) </td>
                            {% if event.start_date|date:"m" == event.end_date|date:"m" %}
                              <td>{{event.start_date|date:"d" }}-{{event.end_date|date:"d.m Y" }}</td>
                            {% else %}  
                              <td>{{event.start_date|date:"d.m" }}-{{event.end_date|date:"d.m Y" }}</td>
                            {% endif %}
                            <td>{{event.season}}</td>
                            <td>{{event.place}}</td>
                            <td> {% for us in  event.user.all %} 
                              {{us.first_name}} {{us.last_name}} </br>
                              {% endfor %}
                            </td>
                            <td>{{event.event.country}}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>
                </div>
        
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->


  
{% endblock %}

