{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
    {% with 'events' as active %}
      {% include '_menu.html' %}
    {% endwith %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content Хлебные крошки -->
  <div class="content-wrapper" id='mainContainer'>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3> Добавить мероприятие </h3>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">

      <div class="container-fluid">

        

        <div class="row">


          
            <div class="col-12" id='mainContainer'>
                <div class="table-responsive">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="row mt-3">
                        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                          <label><strong>{{ form.name.label }}<span class='required'>*</span></strong></label>
                          {{ form.name }}
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <label><strong>{{ form.state.label }}<span class='required'>*</span></strong></label>
                          {{ form.state }}
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <label><strong>{{ form.event_type.label }}</strong></label>
                          {{ form.event_type }}
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <label><strong>{{ form.sort.label }}<span class='required'>*</span></strong></label>
                          {{ form.sort }}
                        </div>

                      </div>

                      <div class="row mt-3">

                        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                          <label><strong>{{ form.short.label }}</strong></label>
                          {{ form.short }}
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <label><strong>{{ form.payment.label }}</strong></label>
                          {{ form.payment }}
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <label><strong>{{ form.continuance.label }}</strong></label>
                          {{ form.continuance }}
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                          <label><strong>{{ form.country.label }}<span class='required'>*</span></strong></label>
                          {{ form.country }}
                        </div>

                      </div>

                      <div class="row mt-3">
                        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                          <label><strong>{{ form.description.label }}</strong></label>
                          {{ form.description }}
                        </div>

                        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                          <label><strong>{{ form.about.label }}</strong></label>
                          {{ form.about }}
                        </div>

                      </div>

                      <div class="row mt-3">
                        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                          <label><strong>{{ form.prev_step.label }}</strong></label>
                          {{ form.prev_step }}
                        </div>

                        <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                          <label><strong>{{ form.next_step.label }}</strong></label>
                          {{ form.next_step }}
                        </div>

                      </div>

                      <div class="row mt-3">
                        <div class="col-md-3">
                          <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                      </div>
                      
                    </form>
                </div>
        
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->


  
{% endblock %}

