{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
      
  {% with unit='smm' active='smm' page='m_list' %}
    {% include '_menu.html' %}
  {% endwith %}
  {% endblock %}

<!-- Content Wrapper. Contains page content Хлебные крошки -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-4">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <div class="custom-file">
                {{form.file}}
                <label class="custom-file-label" for="id_file">Загрузить файл отчета</label>
              </div>
              <div class="input-group-append">
                <button type='submit' class="input-group-text">Загрузить</button>
              </div>
            </div>
        </form>
        </div>
        {% if clients %}

          <div class="col-sm-8">
            <ol class="breadcrumb float-sm-right">
              {% comment %} <li class="breadcrumb-item"></li> {% endcomment %}
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}"> Без фильтра </a> </li>
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}?filter=wait"> Ожидают </a> </li>
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}?filter=delivered"> Доставлено </a> </li>
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}?filter=read"> Прочитано </a> </li>
              {% if request.user.username == 'lr131' %}
              <li class="breadcrumb-item"><a class='btn btn-primary' href="{% url 'smm:wapico' pk=mailing.pk %}">Скачать для сервиса рассылок</a></li>
              {% endif %}
              
              {% comment %} <li class="breadcrumb-item"><a class='btn btn-warning' href="{% url 'smm:wapico' pk=mailing.pk %}">Сформировать новую из текущей</a></li> {% endcomment %}
              
            </ol>
          </div> 
        {% endif %}
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3> {{mailing.name}} </h3>
          <p> {{mailing.description}} </p>
        </div>
      </div>

      {% if clients %}
        <div class="row">
          <div class="col-12">
            <h4> Статистика по рассылке </h4>
            <p> Сообщений всего: <b>{{report.total}} </b></p>
            <p> Прочитано: {{report.read}}</p>
            <p> Получено ответов: {{report.answer}}</p>
            <p> Доставлено: {{report.delivered}}</p>
            <p> Отправлено в вацап: {{report.send}}</p>
            <p> Ожидают отправки: {{report.wait}}</p>
          </div>
        </div>
        {% endif %}


      <div class="row">
        
          <div class="col-12" id='mainContainer'>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">ФИО</th>
                  <th scope="col">Комментарии:</th>
                  <th scope="col">Комментарий по текущей рассылке</th>
                  <th scope="col">Месседжеры</th>
                  <th scope="col">Текущий месседжер</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Позвонить</th>
                  <th scope="col"></th>
                </tr>
              </thead>

              {% autoescape off %}
              <tbody>
                  {% for client in clients %}
                  <tr>
                      <td>{{client.pk}}</td>
                      <td>{{client.client.fio}} <br/> (ID {{client.client.pk}}) <br/>
                        {{client.client.state.name|default_if_none:""}} ({{client.client.city|default_if_none:""}})
                      </td>
                      <td>
                        <strong> Комментарий по общению: </strong> <br/>

                        {{client.client__client_mailing.comment|default_if_none:"нет комментариев"}} 
                        
                        <br/>
                        <br/>
                        <strong> Комментарий по клиенту в целом: </strong> <br/>

                        {{client.client.note|default_if_none:""}} <br/> {{client.client.comment|default_if_none:""}}

                        <br/>
                        <br/>


                      
                      </td>
                      <td>{{client.comment|default_if_none:""}}</td>
                      <td>
                          <a href='{{client.link_wa_pc}}' target='_blank'> Вацап WEB</a> 
                          <br/> <br/> 
                          <a href='{{client.link_wa}}'> Вацап</a> 
                          <br/> <br/> 
                          <a href='{{client.link_vi}}'> Viber</a>
                          <br/> <br/> 
                          <a href='{{client.link_tg}}'  target='_blank'> Telegram</a>
                          <br/> <br/> 
                          <a > Нет в месседжерах</a>
                          <br/> <br/> 
                      </td>
                      <td>{{client.link_messeger|default_if_none:""}}</td>
                      <td>{{client.result|default_if_none:""}}</td>
                      <td>
                        <br/> 
                        <a class="btn btn-info" href='tel:+{{client.phone}}' target='_blank'> Позвонить</a> 
                        <br/>
                    </td>
                    <td>
                      <br/> 
                      <form method="POST" action="{% url 'smm:remove_from_mailing' mailing.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="md" value="{{ client.pk }}">
                        <button type="submit" class="btn btn-warning">Удалить</button>
                      </form>
                      <br/> 
                    </td>
                      
                      
                  </tr>
                  {% empty %}
                      <tr><td>Рассылка ещё не сформирована</td></tr>
                      <tr><td> <a href="{% url 'smm:mailing_db_new' pk=mailing.pk %}"> Перейти к формированию </a></td></tr>
                  {% endfor %}
              </tbody>
              {% endautoescape %}
            </table>

          </div>
      </div>
    </div>
  </section>
</div>
  
{% endblock %}

