{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
      
  {% with unit='smm' active='smm' page='m_list' %}
    {% include '_menu.html' %}
  {% endwith %}
  {% endblock %}

<!-- Content Wrapper. Contains page content Хлебные крошки -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3> Новая рассылка по базе: </h3>
        </div>
        {% comment %} <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Главная</a></li>
            <li class="breadcrumb-item"><a href="#">Раздел</a></li>
            <li class="breadcrumb-item active">Активная страница</li>
          </ol>
        </div> {% endcomment %}
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <form id="mailing" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{form.db.label}}</label>
                  {{form.db}}
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>{{form.filter.label}}</label>
                  {{form.filter}}
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{form.link.label}}</label>
                  {{form.link}}
                  <div class="form-check">
                    <input type="checkbox" name="utm" class="form-check-input" id="id_utm" checked="">
                    <label class="form-check-label" for="id_utm">{{form.utm.label}}</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{form.state.label}}</label>
                  {{form.state}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>{{form.msg.label}}</label>
                  {{form.msg}}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label></label>
                  <p class="text-muted"> Вставить в рассылку имя: <b>%Name%</b>.
                    <br/> Текст <i>"Привет, <b>%Name%</b>"</i> преобразуется в <i>"Привет, <b>{{request.user.first_name}}</b>!"</i> </p>
                  <p class="text-muted"> Вставить в текст рассылки ссылку:<b> %Url%</b>. Метки подставятся автоматически</p>
                </div>
              </div>
            </div>

            <button class="btn btn-info" type="submit"> Создать </button>
          </form>




            
          
        </div>
      </div>
    </div>
  </section>
</div>
  
{% endblock %}

