{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
      
  {% with unit='smm' active='smm' page='m_list' %}
    {% include '_menu.html' %}
  {% endwith %}
  {% endblock %}

<!-- Content Wrapper. Contains page content Хлебные крошки -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-4">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <div class="custom-file">
                {{form.file}}
                {% comment %} <input class="custom-file-input" type="file" name="file" required id="id_file"> {% endcomment %}
                <label class="custom-file-label" for="id_file">Загрузить файл отчета</label>
              </div>
              <div class="input-group-append">
                <button type='submit' class="input-group-text">Загрузить</button>
              </div>
            </div>
        </form>
        </div>
        {% if clients %}

          <div class="col-sm-8">
            <ol class="breadcrumb float-sm-right">
              {% comment %} <li class="breadcrumb-item"></li> {% endcomment %}
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}"> Без фильтра </a> </li>
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}?filter=wait"> Ожидают </a> </li>
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}?filter=delivered"> Доставлено </a> </li>
              <li class="breadcrumb-item active"> <a href="{% url 'smm:mailing_db' pk=mailing.pk %}?filter=read"> Прочитано </a> </li>
              <li class="breadcrumb-item"><a class='btn btn-primary' href="{% url 'smm:wapico' pk=mailing.pk %}">Скачать для сервиса рассылок</a></li>
              
            </ol>
          </div> 
        {% endif %}
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">

    <div class="container-fluid">
      <div class="row">
        
          <div class="col-12" id='mainContainer'>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">ID</th>
                  <th scope="col">ФИО</th>
                  <th scope="col">Статус и город</th>
                  <th scope="col">Комментарий по общению</th>
                  <th scope="col">Комментарии из базы</th>
                  <th scope="col">Комментарий по текущей рассылке</th>
                  <th scope="col">Месседжеры</th>
                  <th scope="col">Текущий месседжер</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Позвонить</th>
                </tr>
              </thead>

              {% autoescape off %}
              <tbody>
                  {% for client in clients %}
                  <tr>
                      <td>{{client.pk}}</td>
                      <td>{{client.client.pk}}</td>
                      <td>{{client.client.fio}} ({{client.phone}})</td>
                      <td> {{client.client.state.name|default_if_none:""}} ({{client.client.city|default_if_none:""}})</td>
                      <td>{{client.client__client_mailing.comment|default_if_none:""}}</td>
                      <td>{{client.client.note|default_if_none:""}} <br/> {{client.client.comment|default_if_none:""}}</td>
                      <td>{{client.comment|default_if_none:""}}</td>
                      <td>
                          <br/> <br/> 
                          <a href='{{client.link_wa_pc}}' target='_blank'> Вацап WEB</a> 
                          <br/> <br/> 
                          <a href='{{client.link_wa}}'> Вацап</a> 
                          <br/> <br/> 
                          <a href='{{client.link_vi}}'> Viber</a>
                          <br/> <br/> 
                          <a href='{{client.link_tg}}'  target='_blank'> Telegram</a>
                          <br/> <br/> 
                          <a href='#'> Нет в месседжерах</a>
                          <br/> <br/> 
                      </td>
                      <td>{{client.link_messeger|default_if_none:""}}</td>
                      <td>{{client.result|default_if_none:""}}</td>
                      <td>
                        <br/> <br/> 
                        <a href='tel:+{{client.phone}}' target='_blank'> Позвонить {{client.phone}}</a> 
                        <br/> <br/> 
                    </td>
                      
                      
                  </tr>
                  {% empty %}
                      <tr><td>Рассылка ещё не сформирована</td></tr>
                      <tr><td> <a href="{% url 'smm:mailing_db_new' pk=mailing.pk %}"> Перейти к формированию </a></td></tr>
                  {% endfor %}
              </tbody>
              {% endautoescape %}
            </table>

          </div>
      </div>
    </div>
  </section>
</div>
  
{% endblock %}

