{% extends 'base.html' %}

{% load static%}

{% block content %}

<div class="container-fluid">
  <div class="row">
    {% block menu %}
    
      {% with active='smm' page='m_list' %}
        {% include '_menu.html' %}
      {% endwith %}
    {% endblock %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id='mainContainer'>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">ID</th>
            <th scope="col">ФИО</th>
            <th scope="col">Статус и город</th>
            <th scope="col">Комментарий по общению</th>
            <th scope="col">Комментарии из базы</th>
            <th scope="col">Комментарий по текущей рассылке</th>
            <th scope="col">Месседжеры</th>
            <th scope="col">Текущий месседжер</th>
            <th scope="col">Статус</th>
            <th scope="col">Позвонить</th>
          </tr>
        </thead>

        {% autoescape off %}
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{client.pk}}</td>
                <td>{{client.client.pk}}</td>
                <td>{{client.client.fio}} ({{client.phone}})</td>
                <td> {{client.client.state.name}} ({{client.client.city}})</td>
                <td>{{client.client__client_mailing.comment}}</td>
                <td>{{client.client.note}} <br/> {{client.client.comment}}</td>
                <td>{{client.comment}}</td>
                <td>
                    <br/> <br/> 
                    <a href='{{client.link_wa_pc}}' target='_blank'> Вацап Комп</a> 
                    <br/> <br/> 
                    <a href='{{client.link_wa}}'> Вацап телеф</a> 
                    <br/> <br/> 
                    <a href='{{client.link_vi}}'> Viber</a>
                    <br/> <br/> 
                    <a href='{{client.link_tg}}'  target='_blank'> Telegram</a>
                    <br/> <br/> 
                    <a href='#'> Нет в месседжерах</a>
                    <br/> <br/> 
                </td>
                <td>{{client.link_messeger}}</td>
                <td>{{client.result}}</td>
                <td>
                  <br/> <br/> 
                  <a href='tel:+{{client.phone}}' target='_blank'> Позвонить {{client.phone}}</a> 
                  <br/> <br/> 
              </td>
                
                
            </tr>
            {% empty %}
                <tr><td>Рассылка ещё не сформирована</td></tr>
                <tr><td> <a href="{% url 'smm:mailing_db_new' pk=mailing.pk %}"> Перейти к формированию </a></td></tr>
            {% endfor %}
        </tbody>
        {% endautoescape %}
      </table>

    </main>
  </div>
</div>
  
{% endblock %}

