<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Виртуальный офис</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
      
    <ul class="nav flex-column">
       <li class="nav-item">
        <a {% if active == 'client_list' %} class="nav-link active"
           {% else %} class="nav-link"
           {% endif %} href="{% url 'clients' %}">
          <span data-feather="users"></span>
          База клиентов {% if active == 'client_list' %} <span class="sr-only">(current)</span></span>{% endif %} 
        </a>
      </li>
      <li class="nav-item">
        
        <a {% if active == 'kn_articles' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'knbase:get_articles' %}">
          <span data-feather="file-text"></span>
          База знаний
        </a>
      </li>

      <li class="nav-item">   
        <a {% if active == 'mailing' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'smm:mailing_list' %}">
          <span data-feather="file-text"></span>
           Рассылки
        </a>
      </li>

      

      <li class="nav-item">   
        <a {% if active == 'sp_list' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'smm:sp_list' %}">
          <span data-feather="file-text"></span>
          Наши ресурсы для размещения
        </a>
      </li>

      <li class="nav-item">   
        <a {% if active == 'sp_list_out' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'smm:sp_list' %}">
          <span data-feather="file-text"></span>
          Не наши ресурсы для размещения (в разработке)
        </a>
      </li>


      <li class="nav-item">   
        <a {% if active == 'link_list' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'smm:link_list' %}">
          <span data-feather="file-text"></span>
          Ссылки готовые
        </a>
      </li>

      <li class="nav-item">
        <a {% if active == 'staff' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'users' %}">
          <span data-feather="file-text"></span>
          Штат
        </a>
      </li> 
      <li class="nav-item">
        <a {% if active == 'events' %} class="nav-link active"
            {% else %} class="nav-link"
            {% endif %} href="{% url 'events' %}">
          Календарь мероприятий
      </a>
      </li>
      {% if user.username == 'lr131' %}
      <li class="nav-item">
        <a {% if active == 'crm' %} class="nav-link active"
            {% else %} class="nav-link"
            {% endif %} href="{% url 'crm:get_lists' %}">
          CRM (Всё ещё в разработке, пока не трогать!)
        </a>
      </li>
      {% endif %}
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      {% if active == 'client_list' %}
        <span>База клиентов</span> 
      {% endif %} 
      {% if active == 'mailing' %}
        <span>Рассылки</span> 
      {% endif %} 
      {% if active == 'data_links' %}
        <span>Ссылки</span> 
      {% endif %} 
      
      {% if active == 'kn_articles' %}
        <span>База знаний</span> 
      {% endif %}   
      {% if active == 'events' %}
        <span>Мероприятия и расписание</span> 
      {% endif %} 
      {% if active == 'crm' %}
        <span>CRM</span> 
      {% endif %} 
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      
    </h6>
    <ul class="nav flex-column mb-2">
      {% if active == 'client_list' %}
      <li class="nav-item">
        <a {% if active == 'client_list' %} class="nav-link active"
          {% else %} class="nav-link"
          {% endif %} href="{% url 'clients' %}">
          <span data-feather="file-text"></span>
          Список клиентов
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'create_client' %}>
          <span data-feather="file-text"></span>
          Добавить клиента
        </a>
      </li>  
      {% endif %}

      {% if active == 'kn_articles' %}
      <li class="nav-item">
        <a {% if active == 'kn_articles' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'knbase:get_articles' %}">
          <span data-feather="file-text"></span>
          Материалы
        </a>
      </li>
      {% endif %}  
      
      {% if active == 'mailing' %}
      <li class="nav-item">
        <a {% if page == 'm_list' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'smm:mailing_list' %}">
          <span data-feather="file-text"></span>
          Список всех рассылок
        </a>
      </li>

      <li class="nav-item">   
        <a {% if page == 'mailing_new' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'smm:mailing_new' %}">
          <span data-feather="file-text"></span>
          Добавить новую рассылку
        </a>
      </li> 
      {% endif %} 
      
      {% if active == 'crm' %}
      <li class="nav-item">
        <a {% if page == 'history' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'crm:history' %}">
          <span data-feather="file-text"></span>
          История посещений
        </a>
      </li>
      <li class="nav-item">
        <a {% if page == 'add_visit' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'crm:visit_add' %}">
          <span data-feather="file-text"></span>
          Добавить посещение
        </a>
      </li>
      <li class="nav-item">
        <a {% if page == 'lids' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'crm:history' %}">
          <span data-feather="file-text"></span>
          Заявки (Входящие)
        </a>
      </li>
      <li class="nav-item">
        <a {% if page == 'prev_lists' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'crm:get_lists' %}">
          <span data-feather="file-text"></span>
          Список списков клиентов (Исходящие)
        </a>
      </li>
      <li class="nav-item">
        <a {% if page == 'add_prevlist' %} class="nav-link active"
        {% else %} class="nav-link"
        {% endif %} href="{% url 'crm:add_prevlist' %}">
          <span data-feather="file-text"></span>
          Создать предварительный список
        </a>
      </li>
      {% endif %}  
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Разделы в разработке</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <span class="nav-link text-secondary">
          <span data-feather="file-text"></span>
          Рассылки
        </span>
      </li> 
      <li class="nav-item">
        <span class="nav-link text-secondary">
          <span data-feather="file-text"></span>
          Контент-план
        </span>
      </li>
      <li class="nav-item">
        <span class="nav-link text-secondary">
          <span data-feather="file-text"></span>
          Менеджер задач
        </span>
      </li> 
      <li class="nav-item">
        <span class="nav-link text-secondary">
          <span data-feather="file-text"></span>
            SMM
        </span>
      </li> 
      <li class="nav-item">
        <span class="nav-link text-secondary">
          <span data-feather="file-text"></span>
          Telegram-bot
        </span>
      </li> 
      <li class="nav-item disabled">
        <span class="nav-link text-secondary">
          <span data-feather="file-text"></span>
          Мой профиль
        </span>
      </li> 

    </ul>
  </div>
</nav>
