<!DOCTYPE html>

{% load static %}


<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href={% static 'images/favicon/favicon.ico' %}  type="image/x-icon" />
  <link rel="icon" href={% static 'images/favicon/favicon.ico' %}  type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href={% static 'images/favicon/apple-touch-icon.png' %} >
  <link rel="icon" type="image/png" sizes="32x32" href={% static 'images/favicon/favicon-32x32.png' %} >
  <link rel="icon" type="image/png" sizes="16x16" href={% static 'images/favicon/favicon-16x16.png' %} >
  <link rel="manifest" href={% static 'images/favicon/site.webmanifest' %}>
  <link rel="mask-icon" href={% static 'images/favicon/safari-pinned-tab.svg' %} color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <title> Виртуальный офис "Равновесие" </title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

  <link href="{% static 'styles/style.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'styles/adminlte.min.css' %}" rel="stylesheet">
  
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock content %}
  </div>

</body>

<!-- jQuery -->
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js'  %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- AdminLTE App -->
<script src={% static 'js/adminlte.min.js' %}></script>
<!-- AdminLTE for demo purposes -->
<script src={% static 'js/demo.js' %}></script>
</body>
</html>