{% load static %}

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{user.last_name}} {{user.first_name}}</a>
    {% comment %} <input class="form-control form-control-dark w-100" type="text" placeholder="Поиск" aria-label="Поиск"> {% endcomment %}
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'rest_framework:logout' %}?next=/">Выйти</a>
      </li>
    </ul>
  </nav>