{% extends 'base.html' %}

{% load static%}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Виртуальный офис</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'clients' %}">
              <span data-feather="users"></span>
              База клиентов <span class="sr-only">(current)</span></span>
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>База</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link active">
              <span data-feather="users"></span>
              Клиент <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clients' %}?page={{back_page}}">
              <span data-feather="file-text"></span>
              Назад к списку клиентов
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_client' %}">
              <span data-feather="file-text"></span>
              Добавить клиента
            </a>
          </li>          
        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id='mainContainer'>

      <span id='urls' data-states="{% url 'clients:router:states-list' %}" 
                      data-main="{% url 'clients:router:client-detail' pk %}" 
                      data-connect="{% url 'clients:connect' pk %}"
                      data-mailing="{% url 'clients:router:mailing-list' %}" 
                      data-interests="{% url 'clients:interests' pk %}"
                      data-interest="{% url 'clients:router:interest-list' %}" 
                      data-history="{% url 'clients:history' pk %}"
                      data-products="{% url 'clients:router:products-list' %}" 
                      data-events="{% url 'events:router:events-list' %}?limit=70">
                    </span>
      <span id='states'></span>
      <span id='events'></span>
      <div class="alert alert-success hidden" role="alert" id='alertRes'></div>
      <div class="row">
        <div class="col-md-8">
          <form class='row' id="client">
            {% csrf_token %}
            <legend>Основные данные:</legend>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="family"><strong>Фамилия <span class='required'>*</span></strong></label>
                <input type="text" class="form-control" id="family" name='family' placeholder="Фамилия" required>
              </div>
              <div class="form-group">
                <label for="name"><strong>Имя <span class='required'>*</span></strong></label>
                <input type="text" class="form-control" id="name" name='name' placeholder="Имя" required>
              </div>
              <div class="form-group">
                <label for="patr">Отчество</label>
                <input type="text" class="form-control" id="patr" name='patr' placeholder="Отчество">
              </div>
              <div class="form-group">
                <label for="birthday"><strong>Дата рождения <span class='required'>*</span></strong></label>
                <input type="text" class="form-control" id="birthday" name='bday' placeholder="ДД.ММ.ГГГГ" required> 
                <p><a href='#' id='birthdayPlug'>Поставить 01.01.1900</a></p>
              </div>
            </div>
    
            <div class="col-sm-3">
              <div class="form-group">
                <label for="state">Статус</label>
                <select class="form-control" id="state" name="state">
                  {% for state in states %}
                    <option value="{{state.pk}}">{{state.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="city"><strong>Город <span class='required'>*</span></strong></label>
                <input type="text" class="form-control" id="city" name='city' placeholder="Город" required>
              </div>
              <div class='form-group'>
                <label for="state">База</label>
                <select class="form-control" id="group" name="group">
                  <option value="irk">Иркутск</option>
                  <option value="angsk">Ангарск</option>
                  <option value="ykt">Якутск</option>
                </select>
              </div>
              <div class="form-group">
                <label for="phone"><strong>Телефон <span class='required'>*</span></strong></label>
                <div id="phones">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="79XXXXXXXXX"  id="phone" name='phone' aria-label="phone" aria-describedby="phoneAddIcon" required>
                    <span class="input-group-text" id="phoneAddIcon"><i class="material-icons">add</i></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email </label>
                <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
              </div>              
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="comment">Комментарий</label>
                <textarea class="form-control" id="comment" name='comment' rows="3"></textarea>
             </div>
             <div class="form-group">
                <label for="note">Заметки</label>
                <textarea class="form-control" id="note" name='note' rows="3"></textarea>
             </div>
             <div class="form-group">
                <div class="form-check">
                  <label class="in_black_list">
                    <input class="form-check-input" type="checkbox" id="in_black_list" name='in_black_list'> Клиент в черном списке
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-success hidden" id='clientBtn'>
                <span class="material-icons">check_circle</span>
              </button>
              <div id="loader" class="hidden">Отправляем...</div>
            </div>

          </form>
        </div>

        {% comment %} col-md-8 {% endcomment %}
        <div class="col-md-4">
          <form id='mailing'>
            {% csrf_token %}
            <legend>Способ связи:</legend>
            <table class="table table-striped table-sm">
              <tbody class="table-hover" id="mailingTable">
                <tr> 
                  <td> 
                  <label>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='viber_group' id="viber_group">
                      <label class="form-check-label" for="viber_group">
                        Состоит в группе в Viber
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='wa_group' id="wa_group">
                      <label class="form-check-label" for="wa_group">
                        Состоит в группе в WhatsApp
                      </label>
                    </div>
                  </td>
                </tr>
                <tr> 
                  <td> 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='tg_group' id="tg_group">
                      <label class="form-check-label" for="tg_group">
                        Состоит в группе в Telegram
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='tg' id="tg">
                      <label class="form-check-label" for="tg">
                        Telegram
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td> 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='viber' id="viber">
                      <label class="form-check-label" for="viber">
                        Viber
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td> 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='wa' id="wa">
                      <label class="form-check-label" for="wa">
                        WhatsApp
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td> 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='call' id="call">
                      <label class="form-check-label" for="call">
                        Звонить
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td> 
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name='sms' id="sms">
                      <label class="form-check-label" for="sms">
                        СМС
                      </label>
                    </div>
                  </td> 
                </tr>
              </tbody>
            </table>
    
            <div class="form-group col-sm-10">
                <label for="commentMailing">Комментарий к способам связи:</label>
                <textarea class="form-control" id="commentMailing" name='comment' data-client={{pk}} rows="3"></textarea>
            </div>
            <input class='hidden' id='mailing-id' name="id">
            <button class='hidden' type="submit" id='mailingBtn'>
          </form>
        </div>
        {% comment %} col-md-4 {% endcomment %}
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <form class='row' id='history'>
            {% csrf_token %}
            <legend>Что проходил: </legend>
            <table class="table table-striped table-sm">
              <tbody class="table-hover" id="historyTable">
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="is_base_course" id="is_base_course">
                      <label class="form-check-label" for="is_base_course">
                        Базовый Курс
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="is_assisting" id="is_assisting">
                      <label class="form-check-label" for="is_assisting">
                        Ассистировал на БК
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="future_assisting" id="future_assisting">
                      <label class="form-check-label" for="future_assisting">
                        Хочет ассистировать
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="is_school_level_1" id="is_school_level_1">
                      <label class="form-check-label" for="is_school_level_1">
                        ИШ 1
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="is_school_level_2" id="is_school_level_2">
                      <label class="form-check-label" for="is_school_level_2">
                        ИШ 2
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="is_school_level_3" id="is_school_level_3">
                      <label class="form-check-label" for="is_school_level_3">
                        ИШ 3
                      </label>
                    </div>
                  </td> 
                </tr>
                <tr> 
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="tg" id="ter_gr">
                      <label class="form-check-label" for="ter_gr">
                        Выпускник терапевтической группы
                      </label>
                    </div>
                  </td> 
                </tr>
              </tbody>
            </table>
            <div class="form-group col-sm-10">
              <label for="course_candidate">Кандидаты на курс:</label>
              <textarea class="form-control form-group" name="course_candidate" id="course_candidate" rows="2"></textarea>
              <input class='hidden' id='history-id' name="id">
              <input class='hidden' id='history-client' name="client" value="{{pk}}">
            </div>
            <button class='hidden' type="submit" id='historyBtn'>
          </form>
          <button type="button" class="btn btn-success form-group" id='save'>
            <span class="material-icons">check_circle</span> Сохранить
          </button>
          <div id="loader" class="hidden">Отправляем...</div>
        </div>
        {% comment %} col-md-4 {% endcomment %}

        <div class="col-md-8">
          <legend>Что интересно: </legend>
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Мероприятие</th>
                <th>Комментарий</th>
                <th>кнопки</th>
              </tr>
            </thead>
            <tbody class="table-hover" id="eventTable">
                <tr id='trForm'>
                  <form class='row' id="interestCreateForm">
                    {% csrf_token %}
                    <input class='hidden' name='client' value='{{pk}}'>
                    <td class='col-sm-6'>
                      <select class="form-control" id="event" name='event'>
                        <option> - </option>
                      </select>
                    </td>
                    <td>
                        <textarea class="form-control" id="commentEvent" name="comment" rows="2"></textarea>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-success">
                        <span class="material-icons">check_circle</span>
                      </button>
                    <td>
                  </form>
                </tr>
            </tbody>
          </table>
        </div>
        {% comment %} col-md-4 {% endcomment %}
      </div>

    </main>
  </div>
</div>

<script src={% static 'js/form.js' %}></script>
<script src={% static 'js/clients/main.js' %}></script>
<script src={% static 'js/clients/client.js' %}></script>
  
{% endblock %}

