.small-img {
    max-height: 50px;
}

.large-img {
    max-height: 80vh;
    max-width: 100%;
    margin: auto;
}

#clientsTable tr {
    cursor: pointer;
}


.hidden {
    display:none;
  }

.required {
    color: red;
}

#phoneAddIcon, .phone-remove-icon, .search-result {
    cursor: pointer;
}