{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
    
    {% with unit='smm' active='tgbots' page='tg_history' %}
      {% include '_menu.html' %}
    {% endwith %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content Хлебные крошки -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3> История сообщений </h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% if link %}
                
              {% else %}
                <li class="breadcrumb-item"><a href="{% url 'tgbots:message_history_all' %}">К списку ботов</a></li>
              {% endif %}
              
              {% comment %} <li class="breadcrumb-item"><a href="#">Раздел</a></li>
              <li class="breadcrumb-item active">Активная страница</li> {% endcomment %}
            </ol>
          </div> 
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">

      <div class="container-fluid">
        <div class="row">
          
            <div class="col-12">

                <table class="table table-hover table-head-fixed text-nowrap table-sm">
                    <tr>
                        <th>Пользователь</th>
                        <th>Телеграм бот</th>
                        <th>Дата и время</th>
                        <th>Сообщение</th>
                        <th>Тип сообщения</th>
                    </tr>
                    {% for message in messages %}
                    <tr>
                        {% if link %}
                            <td> <a href="{% url 'tgbots:message_history' bot=message.tgbot.pk user_id=message.user.pk %}"> {{ message.user }} </a> </td>
                        {% else %}
                            <td>{{ message.user }}</td>
                        {% endif %}    
                        <td>{{ message.tgbot }}</td>
                        <td>{{ message.date_time }}</td>
                        {% if message.mtype == 'photo' %}
                        <td>
                            <img src="{{ media_url }}{{ message.message }}" alt="скриншот" class="small-img" data-toggle="modal" data-target="#largeImgModal{{message.pk}}">
                        </td>
                        {% else %}
                            <td>{{ message.message }}</td>
                        {% endif %} 
                        <td>{{ message.mtype }}</td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>

        <form method="post">
            {% csrf_token %}
          <div class="row">
            <div class="col-5">
                {{form}}
            </div>
          </div>
          <div class="row">
            <div class="col-2 mt-2">
              <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
          </div>
        </form>

      </div>
    </section>
  </div>

  {% for message in messages %}
    <!-- Модальное окно для отображения большой версии картинки -->
    <div class="modal fade" id="largeImgModal{{message.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-body">
            <img src="{{ media_url }}{{ message.message }}" alt="скриншот" class="large-img">
        </div>
        </div>
    </div>
    </div>
  {% endfor %}
  
{% endblock %}
