{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
    {% with active='client_list' cpage='new'%}
        {% include '_menu.html' %}
      {% endwith %}
  {% endblock %}

  <div class="content-wrapper" id='mainContainer'>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          {% comment %} <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Главная</a></li>
              <li class="breadcrumb-item"><a href="#">Раздел</a></li>
              <li class="breadcrumb-item active">Активная страница</li>
            </ol>
          </div> {% endcomment %}
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12" id='mainContainer'>

            <span id='urls' data-states="{% url 'clients:router:states-list' %}" 
                            data-client="{% url 'client' 0 %}" 
                            data-search="{% url 'clients:extra' %}">
                          </span>
            <span id='states'></span>
            <span id='events'></span>
            <div class="alert alert-warning hidden" role="alert" id='alertRes'></div>
            <div class="row">
              <div class="col-md-12">
                <form class='row' id="client" method="POST" action="{% url 'clients:router:client-list' %}">
                  {% csrf_token %}
                  <legend>Новый клиент:</legend>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="family"><strong>Фамилия <span class='required'>*</span></strong></label>
                      <input type="text" class="form-control" id="family" name='family' placeholder="Фамилия" required>
                    </div>
                    <div class="form-group">
                      <label for="name"><strong>Имя <span class='required'>*</span></strong></label>
                      <input type="text" class="form-control" id="name" name='name' placeholder="Имя" required>
                    </div>
                    <div class="form-group">
                      <label for="patr">Отчество</label>
                      <input type="text" class="form-control" id="patr" name='patr' placeholder="Отчество">
                    </div>
                    <div class="form-group">
                      <label for="birthday"><strong>Дата рождения <span class='required'>*</span></strong></label>
                      <input type="text" class="form-control" id="birthday" name='bday' placeholder="ДД.ММ.ГГГГ" required> 
                      <p><a href='#' id='birthdayPlug'>Поставить 01.01.1900</a></p>
                    </div>
                  </div>
          
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="state">Статус</label>
                      <select class="form-control" id="state" name="state">
                        {% for state in states %}
                          <option value="{{state.pk}}">{{state.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="city"><strong>Город <span class='required'>*</span></strong></label>
                      <input type="text" class="form-control" id="city" name='city' placeholder="Город" required>
                    </div>
                    <div class='form-group'>
                      <label for="state">База</label>
                      <select class="form-control" id="group" name="group">
                        <option value="irk">Иркутск</option>
                        <option value="angsk">Ангарск</option>
                        <option value="ykt">Якутск</option>
                        <option value="online">Онлайн</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="phone"><strong>Телефон <span class='required'>*</span></strong></label>
                      <div id="phones">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="79027775533"  id="phone" name='phone' aria-label="phone" aria-describedby="phoneAddIcon" required>
                          <span class="input-group-text" id="phoneAddIcon"><i class="material-icons">add</i></span>
                        </div>
                      </div>
                    </div>              
                  </div>

                  <div class="col-sm-5">
                    <div class="form-group">
                      <label for="email">Email </label>
                      <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                      <label for="comment">Комментарий</label>
                      <textarea class="form-control" id="comment" name='comment' rows="3"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="note">Заметки</label>
                      <textarea class="form-control" id="note" name='note' rows="3"></textarea>
                  </div>
                  <div class="form-group">
                      <div class="form-check">
                        <label class="in_black_list">
                          <input class="form-check-input" type="checkbox" id="in_black_list" name='in_black_list'> Клиент в черном списке
                        </label>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success">
                      <span class="material-icons">check_circle</span> Создать
                    </button>
                    <div id="loader" class="hidden">Отправляем...</div>

                </form>
              </div>
            </div>

          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

<script src={% static 'js/form.js' %}></script>
<script src={% static 'js/utils.js' %}></script>
<script src={% static 'js/clients/main.js' %}></script>
<script src={% static 'js/clients/create.js' %}></script>
  
{% endblock %}

