{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
      
  {% with unit='smm' active='links_out' page='link_list' %}
    {% include '_menu.html' %}
  {% endwith %}
  {% endblock %}

 <!-- Content Wrapper. Contains page content Хлебные крошки -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <h4> Источники для внешнего размещения </h4>
      </div>
      <div class="row mb-2">
        <div class="col-sm-7">

        </div>
        <div class="col-sm-5">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'smm:link_new'%}">Создать </a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">

    <div class="container-fluid">
      <div class="row">
        
          <div class="col-12" id='mainContainer'>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Наименование</th>
                  <th scope="col">Дата добавления</th>
                  <th scope="col">Контакт для размещения</th>
                  <th scope="col">Условия размещения </th>
                  <th scope="col">Просмотров</th>
                  <th scope="col">Подписчиков</th>
                  <th scope="col">Охват</th>
                  <th scope="col">Комментарий</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in data %}
                  <tr>
                    <th scope="row"><a href='{{obj.link}}' target='_blank'> {{obj.name}} </a> </th>
                    <td> {{obj.date|date:"d.m.Y" }} </td>
                    <td> {{obj.contact|default_if_none:""|linebreaks}} </td>
                    <td> {{obj.conditions|default_if_none:"Нет данных"|linebreaks}} <br/> Актуально на {{obj.conditions_date|date:"d.m.Y" }} </td>
                    <td>{{obj.views|default_if_none:"Нет данных"}} <br/> Актуально на {{obj.views_date|date:"d.m.Y" }}</td>
                    <td>{{obj.followers|default_if_none:"Нет данных"}} <br/> Актуально на {{obj.followers_date|date:"d.m.Y" }}</td>
                    <td>{{obj.reach|default_if_none:"Нет данных"}} <br/> Актуально на {{obj.reach_date|date:"d.m.Y" }}</td>
                    <td> {{obj.note|default_if_none:""|linebreaks}} </td>
                    
                  </tr>
                {% endfor %}
              
              </tbody>
            </table>
          </div>
      </div>
   </div>
  </section>
</div>
  
{% endblock %}

