{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
      
  {% with unit='smm' active='link_list' page='link_list' %}
    {% include '_menu.html' %}
  {% endwith %}
  {% endblock %}

 <!-- Content Wrapper. Contains page content Хлебные крошки -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <h4> Поиск ссылок </h4>
      </div>
      <div class="row mb-2">
        <div class="col-sm-7">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label>Ссылка на мероприятие</label>
                  <p class="text-muted">Выберите из списка</p>
                  {{form.source}}
                </div>
              </div>

              <div class="col-12 col-md-2">
                <!-- select -->
                <div class="form-group">
                  <label>Cоцсеть/ресурс</label>
                  <p class="text-muted">utm_source</p>
                  {{form.utm_source}}
                </div>
              </div>

              <div class="col-12 col-md-3">
                <!-- select -->
                <div class="form-group">
                  <label>Тип трафика</label>
                  <p class="text-muted">utm_medium</p>
                  {{form.utm_medium}}
                </div>
              </div>

              
            </div>

            <div class="row">
              <div class="col-12 col-sm-3">
                <div class="form-group">
                  {{form.form}}
                  <button type="submit" class="btn btn-primary">Искать</button>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="col-sm-5">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'smm:link_new'%}">Создать </a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">

    <div class="container-fluid">
      <div class="row">
        
          <div class="col-12" id='mainContainer'>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Описание</th>
                  <th scope="col">Сама ссылка с метками</th>
                  <th scope="col">Короткая ссылка с метками</th>
                  <th scope="col">Источник кампании (через какой месседжер или соцсеть) </th>
                  <th scope="col">Метки</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in data %}
                  <tr>
                    <th scope="row">{{obj.source}}</th>
                    <td> <a href='{{obj.link}}' target='_blank'> {{obj.link}} </a> </td>
                    <td> <a href='{{obj.short}}' target='_blank'> {{obj.short}} </a> </td>
                    <td>{{obj.utm_source}}</td>
                    <td>utm_source={{obj.utm_source}}<br/>
                      utm_type_source={{obj.utm_type_source}}<br/>
                      utm_medium={{obj.utm_medium}}<br/>
                      utm_type_content={{obj.utm_type_content}}<br/>
                      utm_campaign={{obj.utm_campaign}}<br/>
                      utm_content={{obj.utm_content}}<br/>
                      utm_term={{obj.utm_term}}<br/>
                      <br/></td>
                  </tr>
                {% endfor %}
              
              </tbody>
            </table>
          </div>
      </div>
   </div>
  </section>
</div>
  
{% endblock %}

