{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
      
  {% with unit='smm' active='seeding' page='seeding' %}
    {% include '_menu.html' %}
  {% endwith %}
  {% endblock %}

 <!-- Content Wrapper. Contains page content Хлебные крошки -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <h4> Статистика размещений по интенсиву </h4>
      </div>
      <div class="row mb-2">
        <div class="col-sm-7">

        </div>
        <div class="col-sm-5">
          <ol class="breadcrumb float-sm-right">
            {% comment %} <li class="breadcrumb-item"><a class="btn btn-primary" href="{% url 'smm:link_new'%}">Создать </a></li> {% endcomment %}
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">

    <div class="container-fluid">
      <div class="row">
        
          <div class="col-12" id='mainContainer'>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Ресурс</th>
                  <th scope="col">Дата размещения</th>
                  <th scope="col">Стоимость размещения, руб</th>
                  <th scope="col">Что публиковали</th>
                  <th scope="col">Сколько пришло</th>
                  <th scope="col">Стоимость лида, руб</th>
                  <th scope="col">Заметки</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in data %}
                  <tr>
                    <th scope="row"><a href='{{obj.link_out.link}}' target='_blank'> {{obj.link_out}} </a> </th>
                    <td> {{obj.date|date:"d.m.Y" }} </td>
                    <td> {{obj.price|default_if_none:""}} </td>
                    <td> <a href='{{obj.link}}' target='_blank'> {{obj.summary|default_if_none:"Нет данных"}} </a> </td>
                    <td>{{obj.lead_count|default_if_none:"Нет данных"}} </td>
                    <td>{{obj.lead_cost|default_if_none:"Нет данных"}} </td>
                    <td> {{obj.description|default_if_none:""}} </td>
                    
                  </tr>
                {% endfor %}
              
              </tbody>
            </table>
          </div>
      </div>
   </div>
  </section>
</div>
  
{% endblock %}

