{% extends 'base.html' %}

{% load static%}

{% block content %}
  {% block menu %}
    
  {% with active='crm' page=page %}
      {% include '_menu.html' %}
    {% endwith %}
  {% endblock %}

  <!-- Content Wrapper. Contains page content Хлебные крошки -->
  <div class="content-wrapper" id='mainContainer'>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

            {% if plc %}
              <p class="h5">Список: {{history.0.pcl_name}}</p>
              <p class="h4 text-info">{{history.0.pcl_client}}</p> <br />
              <p class="h6 text-muted">История взаимодействий</p> 
              
              {% endif %}  
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {% if page == "active" %}
                <li class="breadcrumb-item"> <a href="{% url 'crm:active'  %}"> Только мои </a> </li>
                <li class="breadcrumb-item"> <a href="{% url 'crm:active'  %}?filter=all"> Показать все </a> </li>
              {% endif %}  
              {% if page == "complete" %}
                <li class="breadcrumb-item"> <a href="{% url 'crm:complete'  %}"> Только мои </a> </li>
                <li class="breadcrumb-item"> <a href="{% url 'crm:complete'  %}?filter=all"> Показать все </a> </li>
              {% endif %}
              </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">

      <div class="container-fluid">
        <div class="row">
          
            <div class="col-12" id='mainContainer'>

              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
  
                          {% if plc or lid %}
                          <!-- пропускаем столбец -->
                          {% else %}
                          <!-- Показываем, что за список -->
                          <th scope="col">
                            Источник
                          </th>
                          {% endif %}
  
  
                          <th scope="col" class="d-none d-lg-table-cell">Этап </th>
                          <th scope="col" class="d-none d-lg-table-cell">Действие </th>
                          <th scope="col" class="d-table-cell d-lg-none">Кратко </th>
  
                          <th scope="col" class="d-none d-lg-table-cell">Описание </th>
                          <th scope="col" class="d-none d-lg-table-cell">Резюме общения</th>
                          <th scope="col" class="d-table-cell d-lg-none">Подробнее </th>
  
                          <th scope="col">Инфо</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for action in history %}
                          <tr>
                            {% if plc or lid %}
                            <!-- пропускаем столбец -->
                            {% else %}
                            <!-- Показываем, что за список -->
                            <td class="text-break"> 
                              {% if action.plc %} 
                              <p>{{action.pcl_client}}</p>
                              <small> <b>Список </b> {{action.pcl_name}}
                                <span class="text-muted">{{action.pcl_date}}</span>
                              </small>
                             {% endif %}
                               {{action.lid|default_if_none:'' }}
                              </td>
                            {% endif %}
  
                            
                            <td class="d-none d-lg-table-cell">{{action.stage|linebreaks}}</td>
                            <td class="d-none d-lg-table-cell">{{action.action|linebreaks}}</td>
                            <td class="d-table-cell d-lg-none text-break">
                              <b>Этап: </b>{{action.stage}}
                                <br />
                              <b>Действие: </b>{{action.action}}
                            </td>
  
                            <td class="d-none d-lg-table-cell text-break">{{action.description|linebreaks}}</td>
                            <td class="d-none d-lg-table-cell text-break">{{action.note|linebreaks}}</td>
                            <td class="d-table-cell d-lg-none text-break">
                              <b>Описание: </b>{{action.description|linebreaks}}
                                <br />
                              <b>Резюме общения: </b>{{action.note|linebreaks}}
                            </td>
  
                            <td><small><b>Созд. </b>{{action.cdate|date:"d.m Y"}} </small>
                              <br /><small><b>Редакт.</b> {{action.mdate|date:"d.m Y"}}</small>
                              <br /><small><b>Кто работал: </b> {{action.worker.first_name}} {{action.worker.last_name}}</small> <br />
                              
                              {% if action.state %} 
                                <span class="badge badge-info">Завершено</span> 
                              {% else %} 
                                {% if request.user == action.worker %}
                                  <a class="btn btn-secondary btn-sm" href="{% url 'crm:edit_action' pk=action.pk %}"> Редактировать </a>
                                {% else %}
                                  <span class="badge badge-warning">Нет</span>
                                {% endif %}
                              {% endif %} 
  
                            </td>
                          
                          </tr>
                        {% empty %}

                          <tr> <th> Похоже, что в базе нет нужных вам данных </th> </tr>
  
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>

          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->
{% endblock %}

