{% extends 'base.html' %}

{% load static%}

{% block content %}

<div class="container-fluid">
  <div class="row">
    {% block menu %}
      {% with active='crm' page='add_prevlist' %}
        {% include '_menu.html' %}
      {% endwith %}
    {% endblock %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id='mainContainer'>

      <div class="row">
        <div class="col-md-8">
         
        </div>
      </div>
      <div class="row">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Сохранить</button>
          </form>
        </div>
      </div>

        {% comment %} col-md-8 {% endcomment %}
        {% comment %} col-md-4 {% endcomment %}
      </div>

    </main>
  </div>
</div>
<script src={% static 'js/utils.js' %}></script>
<script src={% static 'js/crm/add.js' %}></script>

{% endblock %}

