{% extends 'base.html' %}

{% load static%}

{% block content %}

<div class="container-fluid">
  <div class="row">
    {% block menu %}
   
    {% with active='crm' page='prev_lists' %}
        {% include '_menu.html' %}
      {% endwith %}
    {% endblock %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id='mainContainer'>

      <div class="row">
        <div class="col-md-12">
            <h3> Предварительные списки </h3>
        </div>
      </div>

      {% for list in lists %}
      <div class="row">
        <div class="col-md-12">
            <a href="{% url 'crm:list_detail' pk=list.pk %}">
                {{list.date|date:"d.m.Y"}} {{list.name}} {{list.description}}
            </a>
            
        </div>
      </div>

       {% endfor %}

    </main>
  </div>
</div>
  
{% endblock %}
